<head>
<style type="text/css">

/*Placeholder for some weird reason */
body{}
	
@font-face
{
	font-family: brickFont;
	src: url(font/FONT.TTF);
}

body
{
	font-family:verdana,helvetica,arial,sans-serif;
	background-color:#000000;
}

div#top
{
	margin: 0 auto;
	text-align:center;
	height:150px;
	width:1200px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	
}
div#topImage
{
	height:150px;
	background-image:url(http://fc03.deviantart.net/fs70/f/2011/204/b/9/umvc3_roster_by_kiradaidohji-d41fyaq.png);
	border-radius:10px;
	opacity:0.6;
	position:relative;
	background-repeat:no-repeat;
	background-size:cover;
}

/*Top Logo*/
span#uTop
{
	position:relative;
	top:-153px;
	right:230px;
	font-weight:bold;
	color:#888888;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	font-size:120px;
	display:block;
	transform:scale(1.5,1.5); 
	-webkit-transform:scale(1.5,1.5);
	letter-spacing:-12px;
}
span#mTop
{
	position:relative;
	top:-300px;
	right:100px;
	font-weight:bold;
	color:#FF0000;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	font-size:120px;
	display:block;
	transform:scale(1.5,1); 
	-webkit-transform:scale(1.5,1);
	letter-spacing:-12px;
}
span#vTop
{
	position:relative;
	top:-455px;
	right:0px;
	font-weight:bold;
	color:#000000;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	font-size:120px;
	display:block;
	transform:scale(1.5,1); 
	-webkit-transform:scale(1.5,1);
	letter-spacing:-12px;
}
span#cTop
{
	position:relative;
	top:-595px;
	right:-90px;
	font-weight:bold;
	color:#0000FF;
	text-shadow: -3px 0 #FFCC00, 0 3px #FFCC00, 3px 0 #FFCC00, 0 -3px #FFCC00;
	font-size:120px;
	display:block;
	transform:scale(1.5,1); 
	-webkit-transform:scale(1.5,1);
	letter-spacing:-12px;
}
span#tTop
{
	position:relative;
	top:-765px;
	right:-210px;
	font-weight:bold;
	color:#FF9900;
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	font-size:160px;
	display:block;
	transform:scale(1.5,1); 
	-webkit-transform:scale(1.5,1);
	letter-spacing:-12px;
}
/****************/

div#topNav
{
	border-style:solid;
	border-width:2px;
	border-color:#000000;
	border-bottom-width:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	margin: 0 auto;
	text-align:center;
	height:60px;
	width:1200px;
	background-color:#FFCC33;
}
div#container
{
	overflow:auto;
	padding-top:10px;
	border-style:solid;
	border-color:black;
	border-width:2px;
	text-align:center;
	width:1200px;
	height:750px;
	margin: 0 auto;
	background-color:#660000;
}
/*Magneto*/
div#char-1
{
	left:130px;
	border-color:#DD0000;
	background-image:url(http://31.media.tumblr.com/tumblr_m6pvnbej4l1qfxwtoo1_1280.jpg);
	background-position:-160px 0px;
	background-repeat:no-repeat;
	background-size:contain cover;
	transition:color .75s;
}
div#char-1:hover
{
	color:#DD0000;
}
/*Nova*/
div#char-2
{
	left:210px;
	border-color:#FFCC00;
	background-image:url(http://i.imgur.com/J9DciKD.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:center;
	transition:color .75s;
}
div#char-2:hover
{
	color:#FFCC00;
}
/*Sentinel*/
div#char-3
{
	left:290px;
	border-color:#6600CC;
	background-image:url(http://i.imgur.com/z8RxgDy.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-80px 0px;	
	transition:color .75s;
}
div#char-3:hover
{
	color:#6600CC;
}
/*Super-Skrull*/
div#char-4
{
	left:370px;
	border-color:#336600;
	background-image:url(http://i.imgur.com/9NSoWzJ.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-600px 0px;	
	transition:color .75s;
}
div#char-4:hover
{
	color:#336600;
}
/*Dante*/
div#char-5
{
	left:450px;
	border-color:#CC6600;
	background-image:url(http://i.imgur.com/gqTXvhm.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-650px -50px;	
	transition:color .75s;
}
div#char-5:hover
{
	color:#CC6600;
}
/*Chris*/
div#char-6
{
	left:530px;
	border-color:#000099;
	background-image:url(http://i.imgur.com/zV7u8sE.png);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-80px -10px;	
	transition:color .75s;
}
div#char-6:hover
{
	color:#000099;
}
/*MODOK*/
div#char-7
{
	left:610px;
	border-color:#6666FF;
	background-image:url(http://i.imgur.com/WR6efVQ.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-80px -10px;	
	transition:color .75s;
}
div#char-7:hover
{
	color:#6666FF;
}
/*Wesker*/
div#char-8
{
	left:690px;
	border-color:#000000;
	background-image:url(http://i.imgur.com/RLoppxU.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-950px 0px;	
	transition:color .75s;
}
div#char-8:hover
{
	color:#000000;
}
/*Deadpool*/
div#char-9
{
	left:770px;
	border-color:#660000;
	background-image:url(http://i.imgur.com/1DHn2S7.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-800px 0px;	
	transition:color .75s;
}
div#char-9:hover
{
	color:#660000;
}
/*Iron man*/
div#char-10
{
	left:850px;
	border-color:#FFFF33;
	background-image:url(http://i.imgur.com/jUMRvJ6.jpg);
	background-repeat:no-repeat;
	background-size:contain cover;
	background-position:-900px -50px;	
	transition:color .75s;
}
div#char-10:hover
{
	color:#FFFF33;
}


/*For all character boxes*/
div.boxy
{
	height:600px;
	width:275px;
	float:left;
	display:block;
	color:#FFFFFF;
	font-size:50px;
	font-family:brickFont;
	text-align:center;
	letter-spacing:2px;
	border-radius:20px;
	position:absolute;
	margin: 10px;
	padding: 5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	box-shadow: 10px 10px 5px #333333;
	border-style:solid;
	border-width:4px;
}
/*
div.boxy:hover
{
	opacity:.75;
}
*/
/*These should probably be individual Ids*/
span.charText
{
	position:absolute;
	display:block-inline;
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}
span#magnetoText	{right:110px; top:115px;}
span#novaText		{right:165px; top:60px; }
span#sentinelText	{right:112px; top:115px;}
span#skrullText		{width:450px; right:17px; top:188px;}
span#danteText		{right:152px; top:75px; }
span#chrisText		{right:160px; top:67px; }
span#modokText		{right:112px; top:118px; }
span#weskerText		{right:126px; top:105px; }
span#deadpoolText	{right:102px; top:126px; }
span#ironmanText	{width:300px; right:91px; top:125px; }

table#nav-menu
{
	margin: 0 auto;
	padding:12px;
	font-size:24px;
	color:#FFFFFF;
	text-align:center;
	letter-spacing:3px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
a.nav-table
{
	text-decoration:none;
	color:#FFFFFF;
	transition:color .5s;
	
}
a.nav-table:hover
{
	color:#000000;
}


</style>
</head>