<html>
<head>
<link rel="stylesheet" type="text/css" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/style/stylish.css">
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script type="text/javascript" src="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/js/home.js"></script>
</head>

<body>
    <div id="top">
        <div id="topImage">&nbsp;</div>
        <span id="uTop">U</span><span id="mTop">M</span><span id="vTop">v</span><span id="cTop">C</span><span id="tTop">3</span>
    </div>
    <div id="topNav">
        <table id="nav-menu">
            <tr>
                <td><a class="nav-table" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/templates/index.html">&nbsp;&nbsp;HOME </a>|</td>
                <td><a class="nav-table" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/templates/players.html"> PLAYERS </a>|</td>
                <td><a class="nav-table" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/templates/characters.html"> CHARACTERS </a>|</td>
                <td><a class="nav-table" href="#"> TEAMS </a>|</td>
                <td><a class="nav-table" href="#"> COMBOS </a>|</td>
                <td><a class="nav-table" href="#"> MATCHES </a>|</td>
                <td><a class="nav-table" href="#"> ABOUT </a></td>
            </tr>
        </table>
    </div>
    <div id="container">
        <div id="char-1"  class="boxy"><span id="magnetoText" class="charText">MAGNETO</span></div>
        <div id="char-2"  class="boxy"><span id="novaText" class="charText">NOVA</span></div>
        <div id="char-3"  class="boxy"><span id="sentinelText" class="charText">SENTINEL</span></div>
        <div id="char-4"  class="boxy"><span id="skrullText" class="charText">SUPER-SKRULL</span></div>
        <div id="char-5"  class="boxy"><span id="danteText" class="charText">DANTE</span></div>
        <div id="char-6"  class="boxy"><span id="chrisText"class="charText">CHRIS</span></div>
        <div id="char-7"  class="boxy"><span id="modokText"class="charText">M.O.D.O.K.</span></div>
        <div id="char-8"  class="boxy"><span id="weskerText"class="charText">WESKER</span></div>
        <div id="char-9"  class="boxy"><span id="deadpoolText"class="charText">DEADPOOL</span></div>
        <div id="char-10" class="boxy"><span id="ironmanText"class="charText">IRON MAN</span></div>
    </div>
    
</body>
</html>