<html>
<head>
<link rel="stylesheet" type="text/css" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/style/stylish.css">
<script language="JavaScript" type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/js/home.js"></script>  
</head>

<body>

    <div id="top">
        <div id="topImage">&nbsp;</div>
        <span id="uTop">U</span><span id="mTop">M</span><span id="vTop">v</span><span id="cTop">C</span><span id="tTop">3</span>
    </div>
    <div id="topNav">
        <table id="nav-menu">
            <tr>
                <td><a class="nav-table" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/templates/index.html">&nbsp;&nbsp;HOME </a>|</td>
                <td><a class="nav-table" href="file://localhost/Users/phil.deisinger/Documents/TextMate/pdice/templates/characters.html"> CHARACTERS </a>|</td>
                <td><a class="nav-table" href="#"> TEAMS </a>|</td>
                <td><a class="nav-table" href="#"> COMBOS </a>|</td>
                <td><a class="nav-table" href="#"> MATCHES </a>|</td>
                <td><a class="nav-table" href="#"> ABOUT </a></td>
            </tr>
        </table>
    </div>
    <div id="container">
        
    </div>
    
</body>
</html>